---
import ControlsIsland from "./ControlsIsland.js";
---

<div data-island="controls">
  <button class="session-increment">+</button>
  <button class="session-decrement">-</button>
  <button class="break-increment">+</button>
  <button class="break-decrement">-</button>
</div>

<script type="module" is:inline>
  import ControlsIsland from "./ControlsIsland.js";
  ControlsIsland();
</script>
