---
interface Props {
  className?: string;
  id?: string;
}

let { className = "", id = "" } = Astro.props;

className = `${className} w-full mx-auto px-[25px]`;
---

<div class={className} {...id ? { id } : {}}>
  <slot />
</div>
